@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

$standardBorderRadius: 15px;
$standardFontColor: white;


@mixin getFlexed {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  // opacity: 0.85;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.projectsRoot {
  display: flex;
  justify-content: column;
  align-content: center;
  align-items: center;

  .projects {
    width: 70%;
    margin: 0 auto;
    // margin-bottom: 30%;


    .projectHeaderTextWrap {
      border-bottom: 1px solid $standardFontColor;

      .projectHeaderText {
        color: $standardFontColor;
        font-weight: bold;
        letter-spacing: 10px;
        text-align: left;
        margin: 0 0 10px 32px;
      }
    }

    .projectWrap {
      @include getFlexed;

      .project:hover {
        transition: .8s;
        opacity: .75;
      }

      .project {
        width: 175px;
        margin: 1% 2%;
        padding: 10px 35px;
        display: flex;
        border-radius: $standardBorderRadius;
        background: rgb(41, 41, 41);
        cursor: pointer;

        .projectText {
          font-size: 16px;
          font-weight: 400;
          color: $standardFontColor;
        }
      }
    }
  }
}

.projectDetailsRoot {
  display: flex;
  width: 100%;
  font-size: 22px;

  .clickable {
    cursor: pointer;
  }

  .projectDetailsColumn {
    width: 20%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    .projectCategoryTextWrap {
      margin-bottom: 5%;
    }

    a {
      border: 0px;
      text-decoration: none;
      display: table-cell;

      .linkText {
        color: $standardFontColor;
        text-decoration: none;

      }
    }





    .newCategory {
      display: flex;
      justify-content: space-between;
      height: 13%;

      .categoryInput {
        background: none;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        color: white;
        font-size: 16px;
        border-color: white;
        text-decoration: none;
        width: 75%;
      }

      .categoryButton {
        background: mediumseagreen;
        border-radius: $standardBorderRadius;
        width: 15%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        p {
          padding: 0;
          margin: 0;

        }
      }
    }

    .newLink {
      align-content: center;
      align-items: center;
      width: 100%;

      .categoryButton {
        width: 30%;
      }
    }
  }
}

.onboardingRoot {
  width: 25%;

  .onboardingTitleWrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    p:hover {
      cursor: pointer;
    }

  }

  .onboardingFormWrap {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    input {
      margin-bottom: 15px;
      padding: 10px;
    }
  }}
//     .onboardingButton {
//       width: 50%;
//       margin: 0 auto;
//       border-radius: $standardBorderRadius;
//       background: mediumseagreen;

//       p {
//         margin: 15px 10px !important;
//         font-size: 20px;
//       }

//     }
//   }

// }

      // .onboardingButton:hover{
      //   transition: .8s;
      //   cursor: pointer;
      //   background: rgb(43, 134, 84) !important;
      // }